.dropdown-content.custom-article-list-dropdown {
    top: auto !important;
}

ul.custom-article-list-dropdown {
    list-style-type: none !important;
    padding: 0px !important;
}

.custom-article-list-dropdown li {
    list-style-type: none !important;
}

.menu-open {
    opacity: 100 !important;
    display: block !important;
}

ul {
    list-style-type: disc !important;
    padding-left: 50px !important;
}

ul li {
    list-style-type: disc !important;
}

li {
    list-style-type: disc !important;
}

.ck-editor__editable_inline {
    padding: 0 30px !important;
}

.custom-edit-article-dropdown-content {
    display: none;
    opacity: 0;
}

.top-notification {
    width: 100%;
    height: 35px;
}

.top-notification.not-succeed {
    background: #8b1014;
}

.top-notification.succeed {
    background: #0f9d58;
}

.top-notification .top-notification-text {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    line-height: 30px;
}

.ck-editor li {
    margin-bottom:25px !important;
}

.nav-wrapper li {
    list-style-type: none !important;
}

.nav-wrapper ul {
    display: flex;
    justify-content: center;
}

.nav-wrapper {
    margin-bottom: 50px;
}

.wlog-center-image {
    margin: 0 auto;
    display: block;
}